html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}



#header {
    background-color: blueviolet;
    border: 2px solid black;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

#main-l2r {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    flex-grow: 1;

}

#options,
#right-space {
    background-color: blue;
    border: 2px solid black;
    flex-shrink: 0;
    width: 250px;

}

#main-t2b {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    background-color: lavender;
    flex-grow: 1;


    
}

#clear-all {
    margin-bottom: auto;
}

#pixel-canvas {
    width: 680px;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 8px;
    border: 8px solid darkblue;
    border-radius: 10px;
    align-self: center;
    flex-grow: 0;
    margin: 8px;
    margin-bottom: auto;
}



.pixel-row {
    display: flex;
    margin: 0;
    flex: 1 0 auto;
    width: auto;
    justify-content: stretch;
    align-items: stretch;
}

.pixel {
    
    background-color: lightgray;
    border: 1px solid rgb(0, 60, 0);
    flex: 1 1;
}

.pixel-hov {
    background-color: rgb(0, 60, 0);
    border-color: rgb(108, 108, 108);
}

#footer {
    margin-top: auto;
    background-color: blueviolet;
    justify-self: flex-end;
    text-align: center;
    padding: 8px;
}